### Tuples Demo

### Tuple data set can contain all of the following data types : String, Integer, Float

 ###  Creating first tuple :

In [1]:
Tuple1 = ("disco",10,1,2)

In [4]:
Tuple1

('disco', 10, 1, 2)

*Check the data type of Tuple1*

In [5]:
type(Tuple1)

tuple

### Tuple can be indexed i.e each element in tuple can be accessed through indexing
Negative indexing is also possible

In [8]:
#Example
Tuple1[0]

'disco'

In [9]:
Tuple1[1]

10

In [18]:
Tuple1[-1]

2

In [15]:
print(Tuple1[0])
print(Tuple1[1])
print(Tuple1[2]) #It is important to remember that even the commands are case sensitive. Example- print command will throw an error if P upper case is used in the code

disco
10
1

In [17]:
# It is also possible to type the data type of each index in a tuple
print(type(Tuple1[0]))
print(type(Tuple1[1]))
print(type(Tuple1[2]))

<class 'str'>
<class 'int'>
<class 'int'>

Tuples can be concatenated. We will run few examples below -

### Concatenating Tuples

In [20]:
#Creating tuple2 

Tuple2 = Tuple1 + ("hard rock", 10)

In [21]:
Tuple2

('disco', 10, 1, 2, 'hard rock', 10)

### Slicing Tuples

In [23]:
#Example - this code will pull the values from Tuple2 from index 0 through index 3. It will not pull the index 4 value. Remember indexing starts with '0' not '1'
Tuple2[0:4]

('disco', 10, 1, 2)

In [25]:
print(Tuple2[0:3])
print(Tuple2[3:7]) #There is no index 7 available in Tuple2. Inorder to pull the value available at Index6, I have chosen to use the indexing 3:7

('disco', 10, 1)
(2, 'hard rock', 10)

# Sorting

In [26]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [28]:
Ratings_Sorted = sorted(Ratings)

In [29]:
Ratings_Sorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

# Nested Tuple - A tuple can be nested i.e a tuple can contain more than 1 tuple inside it or it can also contain more complex data types.

In [30]:
NT = (1,2,("pop","rock"),(3.4),("disco",(1,2)))

In [32]:
print(type(NT))

<class 'tuple'>

In [37]:
#Indexing Nested tuple -
print(NT[0])
print(NT[4])

1
('disco', (1, 2))

Python will throw an error if you run an index that does not exist. In the example nested tuple NT, we only have upto 4 indexes. 0 through 4. so NT[0:5] will throw an out of range error.

In [39]:
#Example:
print(NT[5])

IndexError: tuple index out of range

In [42]:
#we can also run indexing for a tuple inside of a tuple
#examples below -
NT[4][1] # this command results ina value at index 1 within the index 4 of the main class tuple.

(1, 2)

In [45]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NT[2][0])
print("Element 2, 1 of Tuple: ",   NT[2][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock

In [47]:
#we can also access the string value within an index. 
#example:
print(NT[2][0][0])
print(NT[2][0][1])
print(NT[2][0][2])

p
o
p

Mutiple levels of indexing is possible. In the example above we can even go to level 4 or level 5 indexing. Think of it a tree of indexes